
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "76731f3aebff86219eb334fe759a02ff69765ede"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}
         x5-project/x5             {:git/url "https://github.com/x5-project/x5"
                                    :sha     "b1b9aa29ae51c17cf95c25a4834a40ae47794a20"}
         pretty-project/ugly-ui    {:git/url "https://github.com/pretty-project/ugly-ui"
                                    :sha     "b1b9aa29ae51c17cf95c25a4834a40ae47794a20"}}}
